@import url(
'https://fonts.googleapis.com/css2?family=Yaldevi:wght@200;300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Yaldevi', sans-serif;
}
body {
    background-color: black;
    background-image: url('images/earth.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
	color: rgb(199, 186, 0);
	font-size: 80px;
	font-weight: bold;
	text-align: center;
	padding-top: 22px;
    -webkit-text-stroke: 2px black;
}

h6 {
	color: rgb(3, 3, 3);
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	padding-top: 20px;
	margin-bottom: 20px;
}

.myProducts-gallery img{
	height: 92px;
	margin: 10px 0;
	cursor: pointer;
	display: block;
	opacity: .5;
}

.myProducts-gallery img:hover {
	opacity: 1;
}

.myProducts-gallery {
	float: left;
}

.myProducts {
	top: 50%;
	left: 50%;
	transform: translate(-50% , -50%);
	position: absolute;
}

.image-container img {
	height: 350px;
	transition: transform 1s;
}

.image-container img:hover{
	transform: scale(1.5);
	cursor: zoom-in;
}

.image-container {
	float: right;
	padding: 10px;
}

